PORT=5050
MONGO_URI=mongodb+srv://shayanzahoornsr123_db_user:qWvFYvOBFcVFn1fl@schooldb.g6txmpu.mongodb.net/schoolDB
JWT_SECRET=myschoolsecret

CLOUDINARY_CLOUD_NAME=dxyjuudc5
CLOUDINARY_API_KEY=867563545156765
CLOUDINARY_API_SECRET=4nq0jNtlzGzM2ynk3tPumxrSzQs


GMAIL_EMAIL=shayanzahoornsr123@gmail.com
GMAIL_APP_PASSWORD=oakdydfrqxwuxfcj







